@use '../util/' as *;
.container {
    // max-width: to-rem(920);
    max-width: none;
    background: var(--white);
    display: flex;
    flex-direction: column;
    @include breakpoint(medium) {
        flex-direction: row;
        align-items: stretch;
        border-radius: to-rem(20);
    }
    &>section {
        @include breakpoint(medium) {
            width: 50%;
            flex-shrink: 0;
        }
    }
}