@use '../util' as *;
.header {
    display: flex;
    flex-direction: column;
    margin-bottom: to-rem(28);
    gap: to-rem(10);
    align-items: flex-start;
    @include breakpoint(medium) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-items: center;
        margin-bottom: to-rem(24);
    }
    &__title {
        font-size: to-rem(24);
        line-height: 1.2;
    }
    &__clear-btn {
        font-size: to-rem(16);
        font-weight: 500;
        border: none;
        background: transparent;
        text-decoration: underline;
        color: var(--slate-700);
        cursor: pointer;
    }
}